

<ion-content color="warning">
    <!-- Input with placeholder -->
  <ion-grid class="mt-home" fixed>
    <ion-row>
      <ion-col offset="1" size="10">
        <ion-input placeholder="Correo"></ion-input>
      </ion-col>
      <ion-col offset="1" size="10">
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-col>
      <ion-col offset="1" size="10">
        <ion-button (click)="login()" expand="full">LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Input with placeholder -->


</ion-content>
